

html,body {
  width: 100%;
  
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-size: 16px;

}

body{
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color: black;
  color: white;
}

.header {
  border: 3px solid white;
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url('../img/hawaiiangraphic.jpg') center no-repeat;
  background-size: cover;
}

header h1{ 
  font-size: 1.875em;
  margin: 0;
  width: 40%;
  padding: 28px 20px 20px 20px;
  border: 1px solid white;
  background-color: black;
  width: 50%;
  justify-items: center;

 

}
h2 {
  font-size: 1.125em;
}
h4{ 
  font-size: .75em;
}
p{
  font-size: 0.875em;
  line-height: 21px;
}

ul{
  margin: 0;
}
header .navbar{
  padding: 20px 0;
  color: white;
  width: 60%;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar ul li{
  list-style: none;
  border: 1px solid white;
  background-color: black;
  padding: 0 40px;
  align-items: center;


}
.navbar ul li a{
  text-decoration: none;
  color: white;
}
main{
  border: 3px pink solid;
}

.hero-area{
  border: 3px dotted yellow;
}

.projects{
  border: 3px dashed limegreen;
}

.project-list ul li{
  list-style: none;
  font-size: 0.875em;
}

.project-list img{}

.project-list article {
  border: 1px solid white;
  }

.about{
  border: 3px solid blue;
}

.about p{}

.skills {
  border: 3px dashed purple;
}



.skills ul li{
  font-size: 0.875em;
}

.contact{
  border: 3px dotted orange;
}

.contact ul li{
  list-style: none;
}
.contact ul li a {
  color: white;
  text-decoration: none;
}
.contact a {
  color: white;
}
.socials{
  border: 3px solid white;
}
.social-icons a {
  color: white;
}
.social-icons ul li{
  list-style: none;
}
footer{
  border: 3px solid red;
}



